doctype html
html
  include includes/head.pug
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css")
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  body(class="blue-grey lighten-5")
    nav
      div(class="container-fluid orange")
        div(class="nav-wrapper")
          a(href="/" class="brand-logo")
            img(src="images/logo3.png")
          ul(id="nav-mobile" class="right hide-on-med-and-down")
            li
              a(href="/contact") Contact Us
    div(class="parallax-container" id="index-banner")
      div(class="section no-pad-bot")
        div(class="container")
          h1(class="header center orange-text text-lighten-2" style="margin-top: 2.5em")
            | Meet The Team
          div(class="row center")
            h4(class="header col s12 white-text light")
              | A group of students from Arizona State University.
      div(class="parallax")
        img(src="images/team-4.jpg" style="display: block; transform: translate3d(-50%, 227px, 0px); height: 150%")
    div(class="container-fluid")
      div(class="section")
        div(class="row")
          mixin members(member)
            div(class="col s12 m4")
              div(class="card white hoverable")
                div(class="card-content black-text")
                  span(class="card-title")=member.name
                  p=member.description
                div(class="card-action")
                    a(class="btn btn-floating" href="mailto:" + member.email)
                      i(class="small material-icons") contact_mail
          +members({
          name: "Brett Nisson", 
          description: "I’m 25, and my major is business entrepreneurship. I have experience not only with business start-ups, but also with professional web and mobile app developers. Although I am not a coder, I am proficient with Photoshop and have created 2 full wireframes for prospective apps that look just like real, functional apps.", 
          email: "rnisson@asu.edu"
          })
          +members({
          name: "Olu Gbadebo", 
          description: "I’m a Computer Science Junior and I have a ton of experience in Web Development, including database, authentication, and User Interface. I’m also proficient in Python for package and software development, Java for software and Android development, and JavaScript for both client & server side (NodeJS). I’m always in favor of implementing software processes to projects of any kind. ", 
          email: "odgbadeb@asu.edu"
          })
          +members({
          name: "Nikola Uzelac", 
          description: " I’m currently a junior studying computer science. I’ve had two software engineering internships so far and I plan to land my third one this summer. I have experience with JavaScript, TypeScript, Node, C/C++, and much much more. I’ve also toyed around with Google's Firebase which I believe will play a critical role in our application as don’t have time to build a fully scalable backend. I’m a pretty personable guy and I think we have a solid team.", 
          email: "nuzelac@asu.edu"
          })
          +members({
          name: "Max Becker", 
          description: "I’m a Junior Computer Systems Engineering major, which is a bit of a combination of CS and EE. I have experience coding in Java, JavaScript, JQuery, c/c++, Python and web development in html, css, and the like. This past summer I worked an internship at a power supply company mostly writing code for inhouse data mining / data storage utilities, but got plenty of experience working with diverse teams in pressured environments. I haven’t worked much in a mobile environment, but would love to gain some experience this semester.", 
          email: "maxbeckerr@gmail.com"
          })
          +members({
          name: "Zi Han", 
          description: " I’m a Senior of Electrical Engineering major. I have experience with real-time digital signal processor, communication system, and also coding. As a Senior, I did lots of research of different topics. My researching skills may help us solve different kinds of problems. ", 
          email: "zyhan@asu.edu"
          })
    div(class="container-fluid orange" style="padding-bottom: 4em")
      h1(class="header center white-text text-lighten-2" style="margin-top: 2.5em")
        | About
    div(class="container-fluid"  style="padding-left: 0; padding-right: 0;")
      div(class="carousel carousel-slider center" data-indicators="true")
        div(class="carousel-fixed-item center")
        div(class="carousel-item blue-grey black-text" href="#two!")
          h1(style="height: 1.5em")
          | We provide a video-chat mobile app that connects college students to like-minded students for the purpose of expanding friendship circle.
        div(class="carousel-item blue-grey black-text" href="#one!")
          h1(style="height: 1.5em") 
          | We are a group of innovative students from Arizona State University.
        div(class="carousel-item blue-grey black-text" href="#three!")
          h1(style="height: 1.5em")
          | We are open-minded to partnership offers from other companies and businesses. Submit an inquiry on our 
          a(href="/contact") Contact Us
          |  page.
    footer(class="page-footer orange")
      div(class="footer-copyright")
        div(class="container")
          | © 2017 Copyright
          a(class="grey-text text-lighten-4 right" href="/") Home
    include includes/body_script
