doctype html
html
  include includes/head.pug
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css")
  body(class="blue-grey lighten-5")
    nav
      div(class="container-fluid orange")
        div(class="nav-wrapper")
          a(href="/" class="brand-logo")
            img(src="images/logo3.png")
          ul(id="nav-mobile" class="right hide-on-med-and-down")
            li
              a(href="/product") View The Product
            li
              a(href="/contact") Contact
    div(class="parallax-container" id="index-banner")
      div(class="section no-pad-bot")
        div(class="container")
          h1(class="header center orange-text text-lighten-2" style="margin-top: 2.5em")
            | Meet The Team
          div(class="row center")
            h4(class="header col s12 white-text light")
              | A group of students from Arizona State University.
      div(class="parallax")
        img(src="images/team-4.jpg" style="display: block; transform: translate3d(-50%, 227px, 0px); height: 150%")
    div(class="container-fluid")
      div(class="section")
        div(class="row")
          mixin members(member)
            div(class="col s12 m4")
              div(class="card white hoverable")
                div(class="card-content black-text")
                  span(class="card-title")=member.name
                  p=member.description
                div(class="card-action")
                  each link in member.links
                    a(href="mailto:" + link.url)=link.name
          +members({
          name: "Olu Gbadebo", 
          description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.", 
          links: [
            {url: "fb.me", name: "Facebook"}, 
            {url: "twitter.com", name: "Twitter"}, 
            {url: "instagram.com", name: "Instagram"}
            ]
          })
          +members({
          name: "Olu Gbadebo", 
          description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.", 
          links: [
            {url: "fb.me", name: "Facebook"}, 
            {url: "twitter.com", name: "Twitter"}, 
            {url: "instagram.com", name: "Instagram"}
            ]
          })
          +members({
          name: "Olu Gbadebo", 
          description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.", 
          links: [
            {url: "fb.me", name: "Facebook"}, 
            {url: "twitter.com", name: "Twitter"}, 
            {url: "instagram.com", name: "Instagram"}
            ]
          })
          +members({
          name: "Olu Gbadebo", 
          description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.", 
          links: [
            {url: "fb.me", name: "Facebook"}, 
            {url: "twitter.com", name: "Twitter"}, 
            {url: "instagram.com", name: "Instagram"}
            ]
          })
    footer(class="page-footer orange")
      div(class="footer-copyright")
        div(class="container")
          | © 2014 Copyright Text
          a(class="grey-text text-lighten-4 right" href="/") Home
    include includes/body_script
